[submodule "tools/whoop-mcp"]
	path = tools/whoop-mcp
	url = https://github.com/milesbxf/whoop-mcp-server-claude
	branch = milesbxf-main
[submodule "tools/apple-events-mcp"]
	path = tools/apple-events-mcp
	url = https://github.com/FradSer/mcp-server-apple-events
[submodule "tools/paperless-mcp"]
	path = tools/paperless-mcp
	url = https://github.com/milesbxf/paperless-mcp-server
	branch = milesbxf-main
